<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartAG</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<div class="nav">
  <ul class="ul">
    <li><a href="/">Weather Data</a></li>
    <li><a href="soil">Soil Data</a></li>
    <li><a href="/">Camera</a></li>
    <li><a href="uv">UV</a></li>
  </ul>
</div>
