<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SmartAG</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <ul class="nav">
    <li><a href="/">Weather Data</a></li>
    <li><a href="soil">Soil Data</a></li>
    <li><a href="/">Solar</a></li>
    <li><a href="/">Storge</a></li>
  </ul>
